<p class="h4 mb-4">Catalogo:</p>
<!-- Card -->
<div class="container">
  <div class="row">
    <div *ngFor="let producto of this.fireDbService.productos | async" class="col col-lg-3 col-md-4 col-sm-6 p-1">
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                        alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>{{producto.nombre}}</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text>
            id:{{producto.id}}
          </mdb-card-text>
          <div class="">
            <a mdbBtn color="primary" mdbWavesEffect (click)="agregarProducto(producto.id, producto.nombre)">
              Agregar
              <mdb-icon fas icon="cart-plus" size="2x"></mdb-icon>
            </a>
          </div>
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->
    </div>
  </div>
</div>
