<p class="h4 mb-4">Catalogo:</p>
<!-- Card -->
<div class="container">
  <div class="row">
    <div *ngFor="let product of productoService.productsList | async" class="col-12 p-1">
      <mdb-card>

        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <div class="row">

            <div class="col-4 view rgba-white-slight  product-img-container ">
              <label title="{{product.id}}"><img
                appImgFallback="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                class="img-fluid" src="{{product.photoUrl}}" alt="{{product.id}}-image"/>
              </label>
            </div>

            <!--Text-->
            <mdb-card-text class="col-7">
              <mdb-badge *ngIf="product.categoria" class="category-pill" pill="true" primary="true">
                {{product.categoria}}
              </mdb-badge>
              <h4>{{product.nombre}}</h4>
              <p>{{product.descripcion}}</p>
            </mdb-card-text>
          </div>
        </mdb-card-body>
        <mdb-card-footer class="modal-footer">
          {{(product.precio ? product.precio : 0) | currency}}
          <a mdbBtn color="primary" mdbWavesEffect (click)="agregarProductoAlCarrito(product)">
            <mdb-icon fas icon="cart-plus" size="lg"></mdb-icon>
          </a>
        </mdb-card-footer>
      </mdb-card>
      <!-- Card -->
    </div>
  </div>
</div>
