<!--Header-->
<div class="modal-header text-center">
  <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--Body-->
<div class="modal-body mx-3">
  <div class="md-form mb-5">
    <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
    <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control"
           mdbInput mdbValidate>
    <label for="defaultForm-email">Your email</label>
    <mdb-error
      *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
      Input invalid
    </mdb-error>
    <mdb-success
      *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">Input
      valid
    </mdb-success>
  </div>

  <div class="md-form mb-4">
    <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
    <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control"
           mdbInput mdbValidate>
    <label for="defaultForm-pass">Your password</label>
    <mdb-error
      *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
      Input invalid
    </mdb-error>
    <mdb-success
      *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
      Input valid
    </mdb-success>
  </div>
  <div class="flex-center loginError">{{loginError}}</div>
</div>

<!--Footer-->
<div class="modal-footer d-flex justify-content-center">
  <div class="row d-flex justify-content-center">
    <button mdbBtn color="green" class="waves-light col-md-6 accent-4" mdbWavesEffect (click)="login()">
      <mdb-icon fas icon="user-check" size="2x" class="mr-2"></mdb-icon>
      Login
    </button>

    <div class="col-7 text-center">
      <!-- Social register -->
      or sign up with:
    </div>
    <div class="w-100"></div>
    <button mdbBtn color="deep-orange" class="waves-light col-md-6 darken-3" mdbWavesEffect (click)="login()">
      <mdb-icon fab icon="google" size="2x" class="mr-2"></mdb-icon>
      Google
    </button>
    <button mdbBtn color="light-blue" class="waves-light col-md-6 darken-1" mdbWavesEffect (click)="login()">
      <mdb-icon fab icon="twitter" size="2x" class="mr-2"></mdb-icon>
      Twitter
    </button>
    <button mdbBtn color="grey" class="waves-light col-md-6 darken-3" mdbWavesEffect (click)="login()">
      <mdb-icon fab icon="github" size="2x" class="mr-2"></mdb-icon>
      Github
    </button>
  </div>
</div>
