<!--Navbar-->
<mdb-navbar class="col" SideClass="navbar navbar-expand-md navbar-dark unique-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">
      <mdb-icon fab icon="pied-piper-alt" size="3x"></mdb-icon>
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links Left-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/home">
          <mdb-icon fas icon="home" size="2x"></mdb-icon>
          Tienda
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/catalogo">
          <mdb-icon fas icon="boxes" size="2x"></mdb-icon>
          Catalogo
        </a>
      </li>
    </ul>

    <!-- Links Right-->
    <ul class="navbar-nav ml-auto">
      <ng-container *ngIf="fireAuthService.authState | async as user; else loggedOutButtons">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/carrito">
            <mdb-icon fas icon="shopping-cart" size="2x"></mdb-icon>
            <mdb-badge *ngIf="fireDbService.idProductos | async as carrito" pill="true" success="true"
                       class="cartbadge">{{carrito.length}}</mdb-badge>
            Carrito
          </a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
            <mdb-icon fas icon="user" size="2x"></mdb-icon>
            {{(user.displayName?.length > 0) ? (user.displayName) : ('N/A')}}<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect (click)="test()">
              <mdb-icon fas icon="fingerprint" size="2x"></mdb-icon>
              {{user.uid?.trim()}}
            </a>
            <a class="dropdown-item waves-light" mdbWavesEffect>
              <mdb-icon fas icon="at" size="2x"></mdb-icon>
              {{user.email?.trim()}}
            </a>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/perfil">
              <mdb-icon fas icon="user-edit" size="2x"></mdb-icon>
              Mi Perfil
            </a>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/producto">
              <mdb-icon fas icon="edit" size="2x"></mdb-icon>
              Admin
            </a>
            <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">
              <mdb-icon fas icon="sign-out-alt" size="2x"></mdb-icon>
              Logout
            </a>
          </div>
        </li>
      </ng-container>

      <ng-template #loggedOutButtons>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect
             data-toggle="modal" data-target="#basicExample" (click)="dialogService.loginDialog()">
            <mdb-icon fas icon="sign-in-alt" size="2x"></mdb-icon>
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect
             data-toggle="modal" data-target="#basicExample" (click)="dialogService.signupDialog()">
            <mdb-icon fas icon="address-card" size="2x"></mdb-icon>
            Registro
          </a>
        </li>
      </ng-template>


    </ul>
  </links>
  <!-- Collapsible content -->


</mdb-navbar>
<!--/.Navbar-->
