<!-- Footer -->
<footer class="page-footer font-small unique-color darken-3 ">

  <div class="container">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 ml-4 py-0">
        <div class="mb-5 ml-4 flex-center">
          <div class="row">
            <!-- Facebook -->
            <a class="fb-ic">
              <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
          </div>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->


    <!-- Copyright -->
    <div class="row">
      <div class="footer-copyright text-center py-3 col">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
      </div>
    </div>
    <!-- Copyright -->
  </div>
</footer>
<!-- Footer -->
