<div class="container">
  <div class="row">
    <!--Navbar-->
    <mdb-navbar class="col" SideClass="navbar navbar-expand-md navbar-dark unique-color" [containerInside]="false">

      <!-- Navbar brand -->
      <mdb-navbar-brand><a class="navbar-brand" href="#">
        <mdb-icon fas icon="home"></mdb-icon>
        Tienda</a></mdb-navbar-brand>

      <!-- Collapsible content -->
      <links>

        <!-- Links Left-->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-light" mdbWavesEffect>
              <mdb-icon fas icon="boxes"></mdb-icon>
              Catalogo
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect>
              <mdb-icon fas icon="shopping-cart"></mdb-icon>
              <span class="cartbadge">0</span> Carrito
            </a>
          </li>
        </ul>

        <!-- Links Right-->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link waves-light" mdbWavesEffect
               data-toggle="modal" data-target="#basicExample" (click)="loginFrame.show()">
              <mdb-icon fas icon="sign-in-alt"></mdb-icon>
              Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect
               data-toggle="modal" data-target="#basicExample" (click)="signupFrame.show()">
              <mdb-icon fas icon="address-card"></mdb-icon>
              Registro
            </a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              <mdb-icon fas icon="user"></mdb-icon>
              Perfil<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Nombre</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Id</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
            </div>
          </li>
        </ul>
      </links>
      <!-- Collapsible content -->


    </mdb-navbar>
    <!--/.Navbar-->
  </div>


  <router-outlet></router-outlet>


</div>

<!-- Footer -->
<footer class="page-footer font-small unique-color darken-3 container fixed-bottom ">


  <!-- Grid row-->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12 ml-4 py-0">
      <div class="mb-5 ml-4 flex-center">
        <div class="row">
          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
        </div>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->


  <!-- Copyright -->
  <div class="row">
    <div class="footer-copyright text-center py-3 col">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<!--Login modal dialog-->
<div mdbModal #loginFrame="mdbModal" class="modal fade left" id="loginFrameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="loginFrame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control"
                 mdbInput mdbValidate>
          <label for="defaultForm-email">Your email</label>
          <mdb-error
            *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">Input
            valid
          </mdb-success>
        </div>

        <div class="md-form mb-4">
          <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
          <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control"
                 mdbInput mdbValidate>
          <label for="defaultForm-pass">Your password</label>
          <mdb-error
            *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
            Input valid
          </mdb-success>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect>Login</button>
      </div>
    </div>
  </div>
</div>
<!--Signup modal dialog-->
<div mdbModal #signupFrame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="signupFrame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
          <input type="text" id="orangeForm-name" class="form-control" [formControl]="signupFormModalName"
                 mdbInput mdbValidate>
          <label for="orangeForm-name">Your name</label>
          <mdb-error
            *ngIf="signupFormModalName.invalid && (signupFormModalName.dirty || signupFormModalName.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="signupFormModalName.valid && (signupFormModalName.dirty || signupFormModalName.touched)">
            Input valid
          </mdb-success>
        </div>
        <div class="md-form mb-5">
          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
          <input type="email" id="orangeForm-email" class="form-control" [formControl]="signupFormModalEmail"
                 mdbInput mdbValidate>
          <label for="orangeForm-email">Your email</label>
          <mdb-error
            *ngIf="signupFormModalEmail.invalid && (signupFormModalEmail.dirty || signupFormModalEmail.touched)">Input
            invalid
          </mdb-error>
          <mdb-success
            *ngIf="signupFormModalEmail.valid && (signupFormModalEmail.dirty || signupFormModalEmail.touched)">Input
            valid
          </mdb-success>
        </div>

        <div class="md-form mb-4">
          <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
          <input type="password" id="orangeForm-pass" class="form-control" [formControl]="signupFormModalPassword"
                 mdbInput mdbValidate>
          <label for="orangeForm-pass">Your password</label>
          <mdb-error
            *ngIf="signupFormModalPassword.invalid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="signupFormModalPassword.valid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
            Input valid
          </mdb-success>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>Sign up</button>
      </div>
    </div>
  </div>
</div>
