.cartbadge {
  font-size: 11px;
  background: #0600ff;
  color: #fff;
  padding: 1px 2.5px 1px 3px;
  vertical-align: top;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  margin-left: -10px;
}


