<div class="container mt-5">
  <div class="row">

    <div class="col-md-6">
      <div class="modal-header">
        <p class="h4 mb-2">Productos Disponibles</p>
      </div>
      <div class="modal-body">
        <ul class="list-group mb-2">
          <li *ngFor="let producto of productoService.productosObs | async" class="list-group-item">
            <div class="row">
              <div class="col-5">
                {{producto.nombre}}
              </div>
              <div class="col-4 ">
                <mdb-badge class="category-pill" pill="true" primary="true">
                  {{producto.categoria}}
                </mdb-badge>
              </div>
              <a aria-label="Edit" class="col-1" (click)="editarProducto(producto)">
                <mdb-icon fas icon="edit"></mdb-icon>
              </a>
              <a aria-label="Close" class="col-1" (click)="eliminarProducto(producto)">
                <mdb-icon fas icon="trash-alt"></mdb-icon>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button mdbBtn color="info" block="true" class="" type="submit" (click)="editarProducto(null)">Nuevo Producto
        </button>
      </div>
    </div>

    <div class="col-md-6">
      <app-producto-detail [selectedProduct]="selectedProducto"></app-producto-detail>
    </div>

  </div>
</div>
